{% extends "base.html" %}

{% block title %}Cheese List{% endblock title %}

{% block content %}
  <h2>Cheese List</h2>

  <ul>
    {% for cheese in cheese_list %}
      <li><a href="{% url 'example:detail' cheese.slug %}">{{ cheese.name }}</a> </li>
    {% endfor %}
  </ul>
  <h3>Here we use object_list:</h3>
  <ul>
    {% for cheese in object_list %}
      <li><a href="{% url 'example:detail' cheese.slug">{{ cheese.name }}</a> </li>
    {% endfor %}
  </ul>

  <hr/>
  <p>Don't see a cheese listed here?</p>
  <p>
    <a class="btn btn-primary" href="{% url 'example:add' %}" role="button">
      Add Cheese
    </a>
  </p>
{% endblock content %}
